/** @format */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/*Sass Map*/
$colors: (
  primary: #3498db,
  primary-light: lighten(#3498db, 40%),
  primary-dark: darken(#3498db, 40%),
  accent: #fff6bb
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.bg {
  background-color: color(primary);
  clip-path: polygon(100% 0, 100% 70%, 34% 100%, 0 100%, 0 0);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  #p-1 {
    color: #fff;
    padding: 25px;
    .primary-link {
      color: black;
      background: orange;
    }
  }
}
